@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');



body{
  background-image: url(./ASSESTS/fondo1.png);
  transition: .7s ease-in-out;
}

#dPrincipal {
  width: 67%; 
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  padding-bottom: 57px;
  border-radius: 45px;

}

h2 {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #0a0a0a;

}



#inputs {
  background-color: white;
  border-radius: 40px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  padding-bottom: 74px;
}

#inputs div {
  text-align: left;
  padding: 15px;
}

#creditos {
  width: 79%;
  margin: 0 auto;
  padding: 10px;
  text-align: right;
  color: white;
}

input,
select {
  margin-top: 4px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

#mensaje {
  margin-top: 4px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  resize: none;
}

img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform .7s ease-in-out;
}



img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
}

.button {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #d1d1d1;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  
}


.button1:hover {
  background-color: #807e7e;
  transition: all .5s ease-in-out;
}

.radio {
  padding-top: 81px;
  display: flex;
  justify-content: center;
  
}

audio {
  width: 19%;
  background-color: #b1b1b1;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  padding-bottom: 13px;
  border-radius: 70px;
}


@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
/*--------------*/


.wrap {
  width: 98%;
 
  position: absolute;  
}

.widget {

	margin-top: 14px;
}

.widget p {
	display: inline; 
  position: relative;
}

.fecha {
	font-family: 'Google Sans', sans-serif;
	text-align: end;
	font-size: 1em;
	width: 57%; 
    color: rgb(255, 255, 255);
}

.reloj {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 2.5em;
	width: 100%;
    color: rgb(255, 255, 255);
}


body.dark{
  background-image: url(./ASSESTS/fondo2.png);  

}


nav{
  display: flex;
  justify-content: end;
  border-radius: 5px;
  transition: .3s ease all;
}

.switch{
  transition: 3s; 
  background: #343d53;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px black;
}

.switch.active{
  background: orange;
  color: black;
}

.switch.active::after{
  right: 0;
  left: unset;
}

.span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}